module_2/practice_1/task_3/__pycache__
module_2/practice_4/figures/__pycache__
module_2/test.py
module_2/practice_1/task_3/test.py
module_2/suai.code-workspace
module_3/unittests/11/11_1/__pycache__
module_3/unittests/11/11_2/__pycache__
module_3/unittests/11/11_3/__pycache__